---
layout: post
category: blog
---
{% for post in site.posts %}      
  {% if post.categories contains 'people' %}

<meta http-equiv='Content-Type' content='text/html; charset=utf-8' />

	<div class="post">
		<div class="home">

			<ul class="post-list">


			    {% if post.direct == 1 %}
			        <a class="post-link" style="background-color:{{ post.color }}; background-image:url({{ post.bgimage }});" href="http://{{ post.link }}">
			     {% else %}
			        <a class="post-link" style="background-color:{{ post.color }}; background-image:url({{ post.bgimage }});" href="{{ post.url | prepend: site.baseurl }}">
			      {% endif %}
			        <li class="text-center">
			          <h2>{{ post.title }}</h2>
			          <p class="post-meta excerpt">{{ post.excerpt }}</p>
			          <br>
			          <br>
			        </li>
			      </a>
			    
			</ul>

		</div>


	</div>


  {% endif %}
{% endfor %}
