<section class="nav">

  <div class="nav-left">
    <!-- <a class="nav-avatar" href="/"><img src="/img/dp.jpg"></a> -->
    <a class="nav-title" href="/">
      <h1>Imran Jameel</h1>
    </a>
  </div>

  <div class="nav-right">
    <ul class="nav-social">

      <a class="subsub" href="https://drive.google.com/open?id=0BzvCi8TLgQExZ1FZWWI3REQ2Zk0" target="_blank"><li>Résumé</li></a>

      <a class="nav-social-item" href="https://twitter.com/imranj131" target="_blank"><li class="social-twitter">{% include twitter.html %}</li></a>
      
      <a class="nav-social-item" href="https://www.linkedin.com/in/ijameel" target="_blank"><li class="social-linkedin">{% include linkedin.html %}</li></a>
      
    <!--   <a class="nav-social-item" href="https://github.com/imranj131" target="_blank"><li class="social-github">{% include github.html %}</li></a> -->

    </ul>
  </div>

</section>
